/* Title Text Animation Styling */
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
html {
  height: 100%;
}

body {
  font-family: 'Fjalla One', sans-serif;
  background: #161415 url(images/header-background2.jpg) no-repeat top center;
   background-size: 100% 100%;
}

.container {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  max-width: 1200px;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 72px;
  margin: 0;
  line-height: 70px;
  letter-spacing: 2px;
}

.title {
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  left: 50%;
  position: relative;
}
.title span {
  transform: skew(-10deg);
  display: block;
  float: left;
  text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
  min-width: 10px;
  min-height: 10px;
  position: relative;
}

/* Title Animation Text Coloring*/
.title:nth-child(1) {
  color: #ff0000;
}
.title:nth-child(2) {
  color: #ffffff;
}
.title:nth-child(3) {
  color: #00ffff;
}
